.slide {
    display:none;
}

.slide-image{
    width: 100%;
}

#slides-container{
    position: relative;
    width: 50%;
    margin: 2% auto;

}

.slide-button{
    background-color: transparent;
    border: transparent;
    color: white;
}

.slide-button:hover{
    background-color: rgba(0,0,0,0.5);
}

#button-left{
    right: 0;
    position: absolute;
    top: 40%;
    height: 20%;

}

#button-right{

    position: absolute;
    top: 40%;
    height: 20%;
}
